

/* Hero Section */
#hero {
    position: relative;
    width: 100vw;
    height: 720px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 720px;
    z-index: 1;
    filter: blur(1.5px);
    object-fit: cover;
}

.hero-building {
    width: min(40vw, 512px);
    height: min(30vw, 386px);
    position: absolute;
    bottom: 0;
    right: min(12vw, 240px);
    z-index: 2;
}

h1 {
    position: absolute;
    top: min(40vw, 128px);
    left: min(10vw, 160px);
    z-index: 2;
    width: min(90vw, 720px);
    color: var(--light100);
    letter-spacing: -1.92px;
    word-spacing: max(-1vw, -10px);
}

h1 span:nth-child(1) {
    color: var(--primary);
}

h1 span:nth-child(2) {
    color: var(--light35);
}

#hero .btn {
    position: absolute;
    top: min(60vw, 360px);
    left: min(10vw, 160px);
    z-index: 2;

    text-decoration: none;
    text-align: center;
    font: var(--h5-d);
    font-weight: 700;
    color: var(--accent);

    border: 3px solid var(--accent);
    border-radius: 5px;
    
    padding: 12px 120px;
    cursor: pointer;
    overflow: hidden;
    transition: color 500ms ease-in-out;
}

#hero .btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--accent);
    top: 0;
    left: -100%;
    z-index: -1;
    transition: 500ms ease-in-out;
}

#hero .btn:hover {
    color: white;
}

#hero .btn:hover::before {
    left: 0;
}

#hero .btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, .3);
    filter: blur(20px);
    top: 0;
    left: 0;
    z-index: -2;
}

.fade-out {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100vw;
    height: var(--spacing-96);
    background: linear-gradient(0deg, hsl(0, 0%, 100%) 10%, hsla(0, 0%, 100%, .05) 100%);
    z-index: 3;
}

/* Categories Section */
#categories {
    width: 100vw;
    height: fit-content;
}

#categories h4 {
    width: 100%;
    color: var(--light0);
    text-align: center;
    margin: 120px 0 64px 0;
}

.categories-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-64);
    margin-bottom: 120px;
}

.categories-wrapper a {
    width: var(--spacing-128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-16);
    text-decoration: none;
    color: var(--light0);
}
.categories-wrapper a h6 {
    text-align: center;
}

/* Recommended Products Section */
#recommended-products {
    width: 100vw;
    height: fit-content;
    padding: var(--spacing-128) 0;
}

#recommended-products h4 {
    width: 100%;
    text-align: center;
    color: var(--light0);
    margin: 0 0 var(--spacing-40) 0;
}

.rec-product-list {
    position: relative;
    width: min(82vw, 1026px);
}

.rec-product-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--light100);
    z-index: 2;
}

.rec-product-list::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--light100);
    z-index: 2;
}

.rec-product-list .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 360px;
    text-decoration: none;
    color: var(--light0);
    padding: var(--spacing-8);
    background: var(--secondary);
    border-radius: 2px;
}

.rec-product-list .card-image {
    width: 224px;
    height: 224px;
}

.rec-product-list .card-rating {
    display: flex;
    gap: var(--spacing-4);
    margin: var(--spacing-8) 0 var(--spacing-8) var(--spacing-8);
    letter-spacing: -1.92px;
}

.rec-product-list .card-name {
    font: var(--h6-d);
    font-weight: 700;
    margin-left: var(--spacing-8);
    word-spacing: -1.6px;
}

.rec-product-list .card-price {
    position: absolute;
    bottom: var(--spacing-16);
    left: var(--spacing-16);
    width: var(--spacing-64);
    font: var(--h6-d);
    color: var(--accent);
    letter-spacing: -1.6px;
}

.rec-product-list .card-prevprice {
    position: absolute;
    bottom: var(--spacing-16);
    left: var(--spacing-80);
    width: var(--spacing-64);
    font: var(--para-d);
    color: var(--light60);
    letter-spacing: -1.6px;
    text-decoration: 1px line-through;
}

.rec-product-list .add-to-cart {
    position: absolute;
    bottom: 12px;
    right: 16px;

    width: var(--spacing-72);
    height: var(--spacing-32);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);

    background: var(--accent);
    color: var(--light100);
    border-radius: 5px;
}
.rec-product-list .add-to-cart p {
    font: var(--h5-d);
    font-weight: normal;
}
.rec-product-list .add-to-cart img {
    filter: brightness(0) invert(1);
}

.rec-product-list .sold {
    background: transparent;
}

.rec-product-list .sold::before {
    content: 'SOLD!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: var(--light60);
    font: var(--para-d);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card-wrapper {
    width: 256px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recommended-products .lanislide-wrapper {
    margin: 0 auto;
}

#recommended-products .lanislide-content {
    position: relative;
}

#recommended-products .lanislide-track {
    display: flex;
}

#recommended-products .lanislide-prev, #recommended-products .lanislide-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background: transparent;
    font: var(--h1-d);
    color: var(--light0);
    cursor: pointer;
    z-index: 3;
}

#recommended-products .lanislide-prev {
    left: -64px;
}

#recommended-products .lanislide-next {
    right: -64px;
}

#recommended-products .lanislide-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
    margin-top: var(--spacing-48);
}

#recommended-products .lanislide-dot {
    width: var(--spacing-36);
    height: var(--spacing-4);
    border-radius: 2px;
    border: none;
    background: #ccc;
}

#recommended-products .lanislide-dot.active {
    background: var(--light35);
}

/* Blog Intro Section */
#blog-intro {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-128) var(--spacing-96);
}

.blog-intro-content {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 1156px;
}

.blog-intro-content .title {
    flex: .1 1 auto;
    width: min(40vw, 480px);
    height: max(256px, fit-content);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-24);
    margin: 0 var(--spacing-16) var(--spacing-20) 0;
    word-spacing: -1px;
}

.blog-intro-content .title h3 {
    font-weight: 700;
    color: var(--light0);
}
.blog-intro-content .title h3 span {
    color: var(--primary);
}
.blog-intro-content .title h6 {
    color: var(--light0);
    word-spacing: -1px;
}

.blog-intro-content a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.blog-intro-content .one {
    width: min(45vw, 640px);
    height: 256px;
    color: var(--light90);
    margin: 0 var(--spacing-20) var(--spacing-20) 0;
}

.blog-intro-content .two {
    width: min(360px, 25vw);
    height: 240px;
    color: var(--light100);
    margin: 0 var(--spacing-20) var(--spacing-20) 0;
}
.blog-intro-content .two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, .2);
    z-index: 2;
}

.blog-intro-content .three {
    flex: .7 1 auto;
    width: min(35vw, 500px);
    height: 240px;
    margin: 0 var(--spacing-20) var(--spacing-20) 0;
    color: var(--secondary);
}
.blog-intro-content .three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 35%, .3);
    z-index: 2;
}

.blog-intro-content .blog img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    z-index: 1;
}

.blog-intro-content .blog h5, .blog-intro-content .blog h6 {
    position: absolute;
    bottom: var(--spacing-24);
    left: var(--spacing-24);
    z-index: 3;
    font-weight: 700;
}

.blog-intro-content .final-link {
    width: 256px;
    height: 240px;
    background: var(--secondary);
}

.blog-intro-content .final-link h5 {
    position: absolute;
    bottom: var(--spacing-24);
    left: var(--spacing-24);
    color: var(--primary);
}

.blog-intro-content .final-link img {
    position: absolute;
    top: 18px;
    right: 18px;
}

/* Testimonials Section */
#testimonials {
    position: relative;
    width: 100vw;
    height: fit-content;
    padding: var(--spacing-128) 0 var(--spacing-160) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-list {
    position: relative;
    width: min(336px,calc(26vw + 16px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-list::before {
    content: '';
    position: absolute;
    top: 0;
    width: 200%;
    height: 100%;
    left: -200%;
    background: hsla(0, 0%, 100%, .8);
    z-index: 2;
}

.testimonial-list::after {
    content: '';
    position: absolute;
    top: 0;
    right: -200%;
    width: 200%;
    height: 100%;
    background: hsla(0, 0%, 100%, .8);
    z-index: 2;
}

.testimonial-list p {
    width: min(320px, 26vw);
    height: 160px;
    padding: var(--spacing-16);
    margin: 0 auto;
}

.testimon-1 p,
.testimon-4 p {
    border: 1px solid var(--primary);
    border-left: 5px solid var(--primary);
}

.testimon-2 p,
.testimon-5 p {
    border: 1px solid var(--accent);
    border-left: 5px solid var(--accent);
}

.testimon-3 p {
    border: 1px solid var(--light35);
    border-left: 5px solid var(--light35);
}

#testimonials .lanislide-content {
    order: 3;
    position: relative;
    width: min(336px,calc(26vw + 16px));
    margin-top: var(--spacing-28);
}
#testimonials .lanislide-content::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -200%;
    background: hsla(0, 0%, 100%);
    z-index: 3;
}

#testimonials .lanislide-content::after {
    content: '';
    position: absolute;
    top: 0;
    right: -200%;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%);
    z-index: 3;
}

#testimonials .lanislide-track {
    display: flex;
}

#testimonials .lanislide-prev, #testimonials .lanislide-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background: transparent;
    font: var(--h1-d);
    color: var(--light0);
    cursor: pointer;
    z-index: 3;
}

#testimonials .lanislide-prev {
    left: -64px;
}

#testimonials .lanislide-next {
    right: -64px;
}

#testimonials .lanislide-nav {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
    margin: var(--spacing-48) 0 var(--spacing-16) 0;
}

#testimonials .name-tag {
    order: 2;
    width: var(--spacing-96);
    height: var(--spacing-32);

    border-radius: 2px;
    background: var(--secondary);

    font: var(--para-d);
    font-weight: 700;
    color: var(--light0);

    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonials .lanislide-dot {
    position: relative;
    width: var(--spacing-48);
    height: var(--spacing-48);
    border-radius: 50%;
    border: none;
    opacity: .5;
    scale: 1;
    transition: scale opacity 200ms ease-out;
}

#testimonials .lanislide-dot:nth-child(1) {
    background: url(testimon-1.webp);
    background-size: cover;
}
#testimonials .lanislide-dot:nth-child(2) {
    background: url(testimon-2.webp);
    background-size: cover;
}
#testimonials .lanislide-dot:nth-child(3) {
    background: url(testimon-3.webp);
    background-size: cover;
}
#testimonials .lanislide-dot:nth-child(4) {
    background: url(testimon-4.webp);
    background-size: cover;
}
#testimonials .lanislide-dot:nth-child(5) {
    background: url(testimon-5.webp);
    background-size: cover;
}

#testimonials .lanislide-dot.active {
    opacity: 1;
    scale: 1.1;
}

/* TABLET RESPONSIVE */
@media (max-width: 1024px) {
    /* Hero Section */
    #hero {
        height: 560px;
    }

    .hero-background {
        height: 560px;
    }

    .hero-building {
        width: 400px;
        height: 300px;
        right: min(20vw, 96px);
    }

    h1 {
        position: absolute;
        top: min(25vw, 72px);
        left: max(7vw, 20px);
        word-spacing: min(-1vw, -15px);
        z-index: 2;
    }

    #hero .btn {
        top: min(40vw, 240px);
        left: max(7vw, 20px);

        font: var(--h5-t);

        border: 2px solid var(--accent);       
        padding: 8px 96px;
    }

    .fade-out {
        height: var(--spacing-64);
    }

    /* Categories Section */
    #categories h4 {
        margin: 90px 0 36px 0;
    }

    .categories-wrapper {
        padding: 0 72px;
        gap: var(--spacing-48);
        margin-bottom: 90px;
    }

    .categories-wrapper a {
        width: var(--spacing-96);
    }
    .categories-wrapper img {
        width: var(--spacing-96);
        height: var(--spacing-96);
    }
    .categories-wrapper a h6 {
        text-align: center;
    }

    /* Recommended Products Section */
    #recommended-products {
        padding: min(10vw, var(--spacing-96)) 0;
    }

    #recommended-products h4 {
        margin: 0 0 var(--spacing-32) 0;
    }

    .rec-product-list {
        position: relative;
        width: min(82vw, 688px);
    }

    .rec-product-list .card {
        width: 160px;
        height: 256px;
        padding: var(--spacing-4);
    }

    .rec-product-list .card-image {
        width: 152px;
        height: 152px;
    }

    .rec-product-list .card-rating {
        margin: var(--spacing-4) 0 var(--spacing-8) var(--spacing-4);
    }
    .rec-product-list .card-rating img {
        width: var(--spacing-12);
        height: var(--spacing-12);
    }

    .rec-product-list .card-name {
        font: var(--h6-t);
        font-weight: 700;
        margin-left: var(--spacing-4);
    }

    .rec-product-list .card-price {
        bottom: var(--spacing-12);
        left: var(--spacing-8);
        width: var(--spacing-48);
        font: var(--h6-t);
    }

    .rec-product-list .card-prevprice {
        bottom: var(--spacing-12);
        left: var(--spacing-56);
        width: var(--spacing-48);
        font: var(--para-t);
    }

    .rec-product-list .add-to-cart {
        position: absolute;
        bottom: 8px;
        right: 8px;

        width: var(--spacing-48);
        height: var(--spacing-24);

        gap: 2px;
    }
    .rec-product-list .add-to-cart p {
        font: var(--h5-t);
        font-weight: normal;
    }
    .rec-product-list .add-to-cart img {
        width: 16px;
        height: 15px;
    }

    .rec-product-list .sold::before {
        font: var(--para-t);
        font-weight: 700;
    }

    .card-wrapper {
        width: 172px;
        height: 280px;
    }

    #recommended-products .lanislide-prev, #recommended-products .lanislide-next {
        font: var(--h1-t);
    }

    #recommended-products .lanislide-prev {
        left: -48px;
    }

    #recommended-products .lanislide-next {
        right: -48px;
    }

    #recommended-products .lanislide-nav {
        gap: var(--spacing-8);
        margin-top: var(--spacing-32);
    }

    #recommended-products .lanislide-dot {
        width: var(--spacing-28);
        height: var(--spacing-4);
    }

    /* Blog Intro Section */
    #blog-intro {
        padding: var(--spacing-96) var(--spacing-72);
    }

    .blog-intro-content {
        max-width: 692px;
    }

    .blog-intro-content .title {
        order: 1;
        width: min(48vw, 360px);
        gap: var(--spacing-16);
        margin: 0 var(--spacing-4) var(--spacing-16) 0;
    }

    .blog-intro-content .one {
        flex: .7 1 auto;
        order: 3;
        width: min(45vw, 560px);
        height: 240px;
        margin: 0 0 var(--spacing-16) var(--spacing-56);
    }

    .blog-intro-content .two {
        flex: 1 1 auto;
        order: 2;
        width: min(240px, 20vw);
        height: 200px;
        margin: 0 var(--spacing-16) var(--spacing-16) 0;
    }

    .blog-intro-content .three {
        order: 4;
        flex: .7 1 auto;
        width: min(35vw, 400px);
        height: 200px;
        margin: 0 var(--spacing-16) var(--spacing-16) var(--spacing-56);
    }

    .blog-intro-content .blog h5, .blog-intro-content .blog h6 {
        bottom: var(--spacing-16);
        left: var(--spacing-16);
    }

    .blog-intro-content .final-link {
        order: 5;
        width: 220px;
        height: 200px;
    }

    .blog-intro-content .final-link h5 {
        width: 50%;
        bottom: var(--spacing-16);
        left: var(--spacing-16);
        color: var(--primary);
    }

    .blog-intro-content .final-link img {
        width: var(--spacing-16);
        height: var(--spacing-16);
        top: 16px;
        right: 16px;
    }

    /* Testimonials Section */
    #testimonials {
        padding: var(--spacing-96) 0 var(--spacing-128) 0;
    }

    .testimonial-list {
        width: min(252px, calc(26vw + 12px));
    }

    .testimonial-list p {
        width: min(240px, 26vw);
        height: 128px;
        padding: var(--spacing-12);
    }

    #testimonials .lanislide-content {
        width: min(252px, calc(26vw + 12px));
        margin-top: var(--spacing-20);
    }

    #testimonials .lanislide-prev, #testimonials .lanislide-next {
        font: var(--h1-t);
    }

    #testimonials .lanislide-prev {
        left: -48px;
    }

    #testimonials .lanislide-next {
        right: -48px;
    }

    #testimonials .lanislide-nav {
        gap: var(--spacing-4);
        margin: var(--spacing-32) 0 var(--spacing-12) 0;
    }

    #testimonials .name-tag {
        width: var(--spacing-72);
        height: var(--spacing-28);

        font: var(--para-t);
        font-weight: 700;
    }

    #testimonials .lanislide-dot {
        width: var(--spacing-32);
        height: var(--spacing-32);
    }
}

/* MOBILE RESPONSIVE */
@media (max-width: 640px) {
    /* Hero Section */
    #hero {
        height: max(70vw, 360px);
    }

    .hero-background {
        height: max(70vw, 360px);
    }

    .hero-building {
        width: max(40vw, 172px);
        height: max(30vw, 128px);
        right: min(15vw, 96px);
    }

    h1 {
        width: max(60vw, 300px);
        position: absolute;
        top: min(25vw, 72px);
        left: max(7vw, 20px);
        word-spacing: min(-1vw, -5px);
        z-index: 2;
    }

    #hero .btn {
        top: max(25vw, 160px);
        left: max(7vw, 20px);

        font: var(--small-para-m);
        font-weight: 700;

        border: 2px solid var(--accent);       
        padding: 6px 48px;
    }

    .fade-out {
        height: var(--spacing-36);
    }

    /* Categories Section */
    #categories h4 {
        margin: 56px 0 36px 0;
    }

    .categories-wrapper {
        padding: 0 72px;
        gap: var(--spacing-24);
        margin-bottom: 56px;
    }

    .categories-wrapper a {
        width: var(--spacing-72);
    }
    .categories-wrapper img {
        width: var(--spacing-72);
        height: var(--spacing-72);
    }
    .categories-wrapper a h6 {
        text-align: center;
    }

    /* Recommended Products Section */
    #recommended-products {
        padding: min(10vw, var(--spacing-64)) 0;
    }

    #recommended-products h4 {
        margin: 0 0 var(--spacing-24) 0;
    }

    .rec-product-list {
        position: relative;
        width: min(82vw, 280px);
    }

    .rec-product-list .card {
        width: 128px;
        height: 256px;
    }

    .rec-product-list .card-image {
        width: 120px;
        height: 120px;
    }

    .rec-product-list .card-rating {
        align-items: center;
    }
    .rec-product-list .card-rating img {
        width: var(--spacing-8);
        height: var(--spacing-8);
    }

    .rec-product-list .sold::before {
        font: var(--small-para-m);
        font-weight: 700;
    }

    .rec-product-list .card-name {
        font: var(--h6-m);
        font-weight: 700;
    }

    .rec-product-list .card-price {
        bottom: var(--spacing-36);
        font: var(--h6-m);
    }

    .rec-product-list .card-prevprice {
        bottom: var(--spacing-36);
        font: var(--para-m);
    }

    .rec-product-list .add-to-cart {
        width: 112px;
        height: var(--spacing-20);
        border-radius: 2px;
        gap: 4px;
    }
    .rec-product-list .add-to-cart p {
        font: var(--small-para-m);
        font-weight: 700;
    }

    .card-wrapper {
        width: 140px;
        height: 280px;
    }

    #recommended-products .lanislide-prev, #recommended-products .lanislide-next {
        font: var(--h1-m);
    }

    #recommended-products .lanislide-prev {
        left: -20px;
    }

    #recommended-products .lanislide-next {
        right: -20px;
    }

    #recommended-products .lanislide-nav {
        gap: var(--spacing-4);
        margin-top: var(--spacing-24);
    }

    #recommended-products .lanislide-dot {
        width: var(--spacing-24);
        height: var(--spacing-4);
    }

    /* Blog Intro Section */
    #blog-intro {
        padding: var(--spacing-64) var(--spacing-32);
    }

    .blog-intro-content {
        max-width: 300px;
    }

    .blog-intro-content .title {
        width: 300px;
        gap: var(--spacing-8);
        margin: 0 0 var(--spacing-16) 0;
    }

    .blog-intro-content .one {
        flex: 1 1 auto;
        order: 2;
        width: 300px;
        height: 140px;
        margin: 0 0 var(--spacing-16) 0;
    }

    .blog-intro-content .two {
        flex: 0 1 auto;
        order: 4;
        width: 164px;
        height: 120px;
        margin: 0 var(--spacing-8) var(--spacing-16) 0;
    }

    .blog-intro-content .three {
        order: 3;
        flex: 1 1 auto;
        width: 300px;
        height: 140px;
        margin: 0 0 var(--spacing-16) 0;
    }

    .blog-intro-content .blog h5, .blog-intro-content .blog h6 {
        font: var(--para-m);
        font-weight: 700;
        bottom: var(--spacing-16);
        left: var(--spacing-16);
    }

    .blog-intro-content .final-link {
        width: 128px;
        height: 120px;
    }

    .blog-intro-content .final-link h5 {
        font: var(--para-d);
        font-weight: 700;
        bottom: var(--spacing-8);
        left: var(--spacing-8);
    }

    .blog-intro-content .final-link img {
        width: var(--spacing-10);
        height: var(--spacing-10);
        top: 8px;
        right: 8px;
    }

    /* Testimonials Section */
    #testimonials {
        padding: var(--spacing-72) 0 var(--spacing-96) 0;
    }

    .testimonial-list {
        width: 252px;
    }

    .testimonial-list::before {
        background: hsla(0, 0%, 100%);
    }

    .testimonial-list::after {
        background: hsla(0, 0%, 100%);
    }

    .testimonial-list p {
        width: 240px;
    }

    #testimonials .lanislide-content {
        width: 252px;
    }

    #testimonials .lanislide-prev, #testimonials .lanislide-next {
        font: var(--h1-m);
    }

    #testimonials .lanislide-prev {
        left: -24px;
    }

    #testimonials .lanislide-next {
        right: -24px;
    }

    #testimonials .lanislide-nav {
        margin: var(--spacing-16) 0 var(--spacing-12) 0;
    }

    #testimonials .name-tag {
        height: var(--spacing-24);

        font: var(--para-m);
        font-weight: 700;
    }

    #testimonials .lanislide-dot {
        width: var(--spacing-28);
        height: var(--spacing-28);
    }
}