body {
    overflow-x: hidden;
}

#breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-12);
    margin: var(--spacing-64) 0 var(--spacing-32) 10vw;
    letter-spacing: -1px;
}

#breadcrumb a,
#breadcrumb p {
    font: var(--h6-d);
    text-decoration: none;
    color: var(--light0);
}

#breadcrumb a:last-child {
    font-weight: 700;
}

main {
    width: 100vw;
    padding: var(--spacing-72) 0 var(--spacing-160) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-detail {
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-48);
}

#product-detail div:nth-child(2) {
    width: 560px;
}

#product-detail .card-image {
    width: 480px;
    height: 480px;
}

#product-detail .card-name {
    font: var(--h3-d);
    font-weight: 700;
}

#product-detail .card-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-12);
    margin: var(--spacing-24) 0  var(--spacing-48) 0;
}

#product-detail .card-rating p {
    letter-spacing: -1.92px;
    text-align: start;
    margin-top: 2px;
    font: var(--h6-d);
    font-weight: normal;
}

#product-detail .card-rating img {
    width: var(--spacing-20);
    width: var(--spacing-20);
}

#product-detail .price-box {
    gap: var(--spacing-128);
    margin-bottom: var(--spacing-96);
}

#product-detail .price-box div {
    gap: var(--spacing-24);
}

#product-detail .price-box p {
    font: var(--h6-d);
}

#product-detail .price-box .card-price {
    font: var(--h4-d);
    font-weight: normal;
    color: var(--accent);
} 

#product-detail .price-box .card-prevprice {
    font: var(--h5-d);
    font-weight: normal;
    color: var(--light60);
    text-decoration: 1.2px line-through;
}

#product-detail .add-to-cart {
    width: 400px;
    height: var(--spacing-48);
    display: flex;
    justify-content: center;
    gap: var(--spacing-16);
    padding: var(--spacing-12) 0;
    border-radius: 5px;
    background: var(--accent);
} 

#product-detail .add-to-cart h6 {
    order: 2;
    color: var(--light100);
    font-weight: 700;
}

#product-detail .icons-btn {
    order: 1;
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-4);
}

#product-detail .icons-btn p {
    font: var(--h6-d);
    font-weight: normal;
    color: var(--light100);
}

#product-detail .sold {
    position: relative;
}

#product-detail .sold::before {
    content: 'SOLD!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: var(--light60);
    font: var(--h6-d);
    font-weight: 700;
    color: var(--light100);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#product-detail hr {
    margin: var(--spacing-48) 0 var(--spacing-16);
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font: var(--h5-d);
    letter-spacing: -1px;
    font-weight: normal;
    list-style: none; 
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: ">";
    font: var(--h4-d);
    transition: transform 0.3s ease-out;
}

details[open] summary::after {
    transform: rotate(90deg);
}

details p,
details ul {
    margin: var(--spacing-12) 0 0 var(--spacing-12);
    padding: 0  var(--spacing-48) 0 0;
    line-height: 130%;
    letter-spacing: -0.6px;
    word-spacing: -1.92px;
}

details li {
    font: var(--para-d);
    margin: 0 0 var(--spacing-4) var(--spacing-24);
    list-style: square;
}

table {
    margin: var(--spacing-12) 0 0 var(--spacing-12);
    border: 1px solid var(--light0);
    border-collapse: collapse;
}

td, 
th {
    text-align: start;
    border: 1px solid var(--light0);
    padding: var(--spacing-8);
    font: var(--para-d);
    line-height: 130%;
    letter-spacing: -0.6px;
    word-spacing: -1.92px;
}

th {
    font-weight: 700;
}

